@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.items
{
  width: 60%;
}

.swiper
{
  padding: 0 10% !important;
}

.image{
  object-fit: cover;
  width: 100% !important;
  position: relative !important;
}


@media (max-width:375px) {
  .OrderList
  {
    width: 90%;
    margin: 0 5%;
  }
}

@media (max-width:320px) {
  .OrderList
  {
    width: 100%;
    margin: 0%;
  }
}

.payment-option
{
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 3% 15%;
  width: 80%;
  margin: 5% 10%;
  border-radius: 0.6em;
}

.cartCount
{
  animation-name: cartCountAnimation;
  animation-duration: 1000ms;
}

@keyframes cartCountAnimation {
  0%{
    margin-top: -0.5rem;
  }
  25%{
    margin-top: -1.5rem;
  }
  50%{
    margin-top: -0.5rem;
  }
  75%{
    margin-top: -1.5rem;
  }
  1000%{
    margin-top: -0.5rem;
  }
}

.selectedProfileSection
{
  background-color: rgb(175, 175, 175);
  color: white;
  font-weight: bold;
}